/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #5C0F39;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.sexyPink {
    color: #5C0F39;
}

.sexyPink2 {
    color: #FFACD2;
}
.sexyPinkBg {
    background-color: #5C0F39;
    color: #FFACD2;
}
.sexyPinkBg2 {
    background-color: #FFACD2;
    color: #5C0F39;
}
.sexyCardBg {
    background-color: #FFACD2;
}
.sexyBtn {
    background-color: #FFACD2;
    color: #5C0F39;
}
    .sexyBtn:hover {
        background-color: #5C0F39;
        color: #FFACD2;
    }
.quantityInput {
    width: 50px;
    border-radius: 5px;
    background-color: #f565a7;
    border: none;
    padding-inline-start: 5px;
}

.navBarFluo {
    background-color: #5C0F39 !important;
    color:black !important;
}

.scrollPersonalize::-webkit-scrollbar {
    width: 10px;
}
   

/* Track */
.scrollPersonalize::-webkit-scrollbar-track {
    background: #FFACD2;
}

/* Handle */
.scrollPersonalize::-webkit-scrollbar-thumb {
    background: #5C0F39;
}

    /* Handle on hover */
    .scrollPersonalize::-webkit-scrollbar-thumb:hover {
        background: #D30F7D;
    }

.object-fit-cover {
    object-fit:cover;
}
