/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #5C0F39;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.sexyPink {
    color: rgba(236,19,149,255);
}

.sexyPink2 {
    color: #FFACD2;
}

.quantityInput {
    width: 50px;
    border-radius: 5px;
    background-color: rgb(246, 92, 184);
    border: none;
    padding-inline-start: 5px;
}